* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    padding: 0;
}

.form-modal-background-overlay, .display-modal-background-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section__game-details {
    height: 250px;
    color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
}

.details-container {
    background-color: transparent;
    filter: brightness(100%);
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-title h1 {
    margin-bottom: 15px;
}

.game-title button, .game-title a {
    width: auto;
    padding: 10px 10px 8px;
    font-size: 14px;
    color: black;
    border-radius: 4px;
    border: none;
    text-align: left;
    line-height: 1.25;
    font-weight: bold;
    filter: brightness(90%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.game-title button:hover, .game-title a:hover {
    filter: brightness(100%);
    cursor: pointer;
}

.buy-now-btn {
    background-color: skyblue;
}

.add-to-favourite-btn {
    background-color: lightpink;
}

.favourite-btn {
    background-color: lightcoral;
}

.game-details {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.game-details span {
    color: white;
    margin: 5px;
}

.section__game-trailer {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    background-color: #1a1b1e;
}

.section__game-information {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color: #151517;
    color: white;
}

.section__game-description {
    flex: 1;
    margin: 20px 30px;
}

.description-text-box {
    height: 260px;
    overflow: hidden;
    margin: 15px 0;
    line-height: 1.25;
}

.section__game-information button {
    padding: 7px 10px 5px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-right: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.section__game-information button:hover {
    cursor: pointer;
}

.section__game-reviews {
    flex: 1;
    margin: 20px 30px;
}

.game-reviews {
    margin: 15px 0;
    max-height: 260px;
    overflow: auto;
}

.game-reviews p {
    margin-bottom: 10px;
}

.game-reviews .review {
    background-color: #2a2b2e;
    padding: 10px;
    margin-bottom: 15px;
    line-height: 1.25;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.section__recommended-games {
    padding: 20px 50px 30px;
    background-color: #1a1b1e;
    color: white;
    flex-grow: 1;
}

.recommended-games {
    margin: 20px 20px 20px 0;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.rec-game {
    margin-right: 20px;
    text-align: center;
    max-width: 260px;
}

.rec-game img {
    height: 120px;
    border-radius: 3px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.rec-game img:hover {
    height: 120px;
    border-radius: 3px;
    opacity: 1;
}

.review-form, .review-display {
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
}
