* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav ul .search-bar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

nav ul .search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: white;
    margin-right: 10px;
}

nav ul .search-bar input[type="text"]::placeholder {
    color: #999;
}

nav ul .genre-show {
    max-height: 300px;
    overflow-y: auto;
}

nav ul .pub-show {
    max-height: 300px;
    overflow-y: auto;
}

nav ul .search-bar button {
    background-color: #1e1e1e;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul .search-bar button:hover {
    background-color: #333;
}


.btn {
    position: fixed;
    top: 75px;
    left: 1px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.btn.click {
    left: 280px;
}

.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
    height: 40px;
}

.btn.click span:before {
    content: '\f00d';
}

.sidebar {
    position: fixed;
    width: 270px;
    height: 100%;
    left: -270px;
    top: 75px;
    transition: left 0.4s ease;
}

.sidebar.show {
    left: 0px;
}

.sidebar .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #222222;
    letter-spacing: 1px;
}

nav ul {
    background: #222222;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul .genre-show.show {
    display: block;
}

nav ul .pub-show.show1 {
    display: block;
}

nav ul .tag-show.show2 {
    display: block;
}

nav ul li a {
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    padding-left: 22px;
    font-weight: 500;
    display: block;
    width: 100%;
}

nav ul li.active a {
    background: #1e1e1e;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 40px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    background: #1e1e1e !important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translate(-50%) rotate(-180deg);
}

nav ul .search-bar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

nav ul .search-bar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #2b2b2b;
    color: white;
    margin-right: 5px;
}

nav ul .search-text {
    margin-right: 5px;
}

nav ul select {
    width: 75px;
    padding: 7px 4px 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #2b2b2b;
    color: #999;
    margin-right: 3px;
}

nav ul .search-bar input[type="text"]::placeholder {
    color: #999;
}

nav ul .genre-show, .pub-show {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
}

nav ul .pub-show {
    max-height: 300px;
    overflow-y: auto;
}

nav ul .search-bar button {
    background-color: #2b2b2b;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav ul .search-bar button:hover {
    background-color: #333;
}