<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.title }} | SZN Games</title>
    <link rel="stylesheet" href="../../static/css/gameInfo.css"/>
    <link rel="icon" href="../../static/favicon.ico" type="image/x-icon"/>
</head>
<body>

{% include 'utilities/header.html' %}

<div class="form-modal-background-overlay"></div>
<div class="display-modal-background-overlay"></div>

<div class="section__game-details" style="background-image: url('{{ game.image_url }}')">
    <div class="background-overlay"></div>
    <div class="details-container">
        <div class="game-title">
            <h1>{{ game.title }}</h1>
            <button class="buy-now-btn">🛒 BUY: NZ${{ game.price }}</button>
            <br>
            <br>
            {% if user %}
                {% if game in favourite_games %}
                    <a class="favourite-btn" href="{{ url_for('favourites_bp.remove_from_favourites', game_id=game.game_id) }}">❤️ Added to favourites</a>
                {% else %}
                    <a class="add-to-favourite-btn" href="{{ url_for('favourites_bp.add_to_favourites', game_id=game.game_id) }}">❤️ Add to favourites</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="game-details">
            <span style="margin-bottom: 5px;"><b>Published by: </b>{{ game.publisher.publisher_name }}</span>
            <span><b>Genres: </b>
                {% for genre in game.genres %}
                    {{ genre.genre_name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                </span>
            <span style="margin-top: 5px;"><b>Release date: </b>{{ game.release_date }}</span><br>
        </div>
    </div>
</div>

{% if game.trailer_url %}
    <div class="section__game-trailer">
        {% if '.mp4' in game.trailer_url %}
            <video controls width="640" height="360">
                <source src="{{ game.trailer_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% else %}
            <img src="{{ game.trailer_url }}" alt="Game Screenshot" width="640">
        {% endif %}
    </div>
{% endif %}

<div class="section__game-information">
    <div class="section__game-description">
        <h2>Description</h2>
        <div class="description-text-box">
            <p>{{ game.description }}</p>
        </div>
    </div>

    <div class="section__game-reviews">
        <h2>Reviews</h2>
        <div class="game-reviews">
            {% if game.reviews|length > 0 %}
                {% if game.reviews|length == 1 %}
                    <p>Average rating: {{ "%.1f"|format(game.average_rating) }}⭐ (1 review).</p>
                {% else %}
                    <p>Average rating: {{ "%.1f"|format(game.average_rating) }}⭐ ({{ game.reviews.__len__() }} reviews, newest first).</p>
                {% endif %}

                {% for review in game.reviews[-1:-4:-1] %}
                    <div class="review">
                        <b>{{ review.user.username }}    </b>
                        {% for i in range(review.rating) %}⭐{% endfor %}
                        <br>{{ review.comment }}
                    </div>
                {% endfor %}
            {% else %}
                <p>This game has no reviews.</p>
            {% endif %}
        </div>
        <div class="form-modal-btns">
            {% if user %}
            <button class="add-review-btn">Add a review</button>
            {% endif %}
            {% if game.reviews.__len__() > 3 %}
                <button class="view-reviews-btn">View all reviews</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="section__recommended-games">
    <h2>Similar games</h2>
    <div class="recommended-games">
        {% set max_items = game.recommended_games|length if game.recommended_games|length < 5 else 5 %}
        {% set list_length = game.recommended_games|length %}
        {% for i in range(list_length - 1, list_length - 1 - max_items, -1) %}
            <div class="rec-game">
                <a href="/info/{{ game.recommended_games[i].game_id }}">
                    <img src="{{ game.recommended_games[i].image_url }}"></a>
                <br>
                {{ game.recommended_games[i].title }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="review-modals">
    {% include 'gameInfo/reviewDisplayModal.html' %}
    {% include 'gameInfo/reviewFormModal.html' %}
</div>
{% include 'utilities/sidebar.html' %}
{% include 'utilities/footer.html' %}

<script src="../../static/gameInfo.js"></script>

</body>
</html>